*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-items: center;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: 0 auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  /* outline: 1px solid salmon; */
  width: 1140px;
  height: 534px;
  /* height: 100%; */
  margin: 0 auto;
  display: grid;
  grid-template-columns: 711px 399px;
  gap: 30px;
  align-items: end;
}

.result {
  /* outline: 1px solid lightcyan;
  background-color: rgba(160, 255, 160, 0.3); */
  display: grid;
  gap: 16px;
  width: 711px;
}

.result__video-container {
  position: relative;
  width: 100%;
  height: 386px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.search-form {
  /* outline: 1px solid orange;
  background-color: rgba(116, 223, 214, 0.3); */
  display: flex;
  gap: 40px;
  /* align-items: flex-start; */
  justify-content: space-between;
}

.content__details {
  /* outline: 1px solid lightpink;
  background-color: rgb(222 184 135 / 0.3); */
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 26px;
  justify-content: flex-end;
}

.content__list {
  position: relative;
  /* outline: 1px solid white;
  background-color: rgba(255, 232, 21, 0.3); */
  height: 298px;
  overflow-y: scroll;
}

.content__list-item {
  /* outline: 1px dashed springgreen; */
  padding-bottom: 30px;
}

.content__video-card {
  /* outline: 1px dashed burlywood; */
  display: grid;
  height: 107px;
  grid-template-columns: 200px 194px;
}

.content__video-card-thumbnail {
  /* outline: 1px dotted white; */
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 5px;
}

.title {
  font-family: Oswald;
  font-size: 75px;
  font-weight: 700;
  line-height: 0.95;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  display: block;
  color: #fff;
  text-decoration: none;
  margin: 2px;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card-title {
  color: #fff;
  font-family: Oswald;
  font-size: 30px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 6px;
}

/* .content__video-card-description-container { */
/* outline: 4px solid palevioletred; */
/* background-color: thistle; */
/* display: flex;
  flex-direction: column; */
/* flex-direction: column;
  justify-content: flex-end; */
/* } */

.content__video-card-description {
  font-size: 18px;
  line-height: 0.9;
}

.content__video-card-description-container:active {
  background-color: #545050;
}

.search-form__fieldset {
  border: none;
}

.search-form__label {
  display: inline-flex;
  flex-direction: row;
  /* outline: 1px solid red; */
  width: fit-content;
  cursor: pointer;
  gap: 5px;
}

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 14px;
}

.search-form__pseudo-checkbox {
  display: flex;
  width: 20px;
  height: 20px;
  outline: 1px solid #fff;
  justify-content: center;
  align-items: center;
}

.search-form__pseudo-checkbox::before {
  content: "";
  width: 15px;
  height: 15px;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::before {
  background-color: #fff;
}

.search-form__checkbox-list > .search-form__label:hover {
  text-decoration: underline;
  cursor: pointer;
}

.search-form__textfield {
  appearance: none;
  width: 225px;
  background-color: transparent;
  cursor: pointer;
  border: 0;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  font-family: inherit;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  color: rgba(225 225 225 / 0.7);
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.3);
}

.search-form__textfield:focus {
  outline: 0;
}

.search-form__textfield:active {
  /* outline: 1px solid #fff; */
  outline: 0;
}

.search-form__textfield:hover {
  cursor: text;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__label:has(:active) {
  outline: 1px solid #fff;
  outline-offset: 2px;
  background-color: rgb(0, 0, 0);
}

.button {
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  height: 34px;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
  text-decoration: none;
}

.more-button {
  width: 100%;
}

.search-form__submit-button {
  width: 194px;
  align-self: flex-end;
}
